body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, rgb(49, 24, 161), rgb(24, 178, 206));
    height: 200vh;
    background-size: 400% 400%;
    animation: animation 10s ease infinite;
}

@keyframes animation {

    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}
